// =================================================================================================
// ---- Global ----
// =================================================================================================

body {
  background-color: $gray-dark;
}

.hidden {
  opacity: 0;
  visibility: hidden;
  z-index: $belowground;
}
.visible {
  opacity: 1;
  visibility: visible;
}
