// =================================================================================================
// ---- Variables ----
// =================================================================================================
$appWidth: 1080px;
$appHeight: 1920px;

$white: #fff;
$black: #000;

$gray-dark: #333;

$neutral-black: #202020;
$neutral-grey: #5a6266;

$error: #ff0000;

// Z-Indexes
$hell: -100;
$belowground: -1;
$ground: 0;
$aboveground: 1;
$modal: 5000;
$heaven: 9999;
